@import '../main/index';

.card__title {
  position: relative;
  left: -12px;

  margin-bottom: 8px;
  text-align: left;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: $text-primary;
}

.card__description {
  position: relative;
  top: -12px;
  left: -12px;

  width: 390px;
  text-align: left;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $text-secondary;
  white-space: pre-line;
  word-break: normal;
}

.card__link {
  position: relative;
  left: -12px;
  top: 16px;
  
  margin-top: auto;
  align-self: flex-start;
  padding: 0;
  
  font-size: 20px;
  text-decoration: none;
  
  color: $ui-button-blue;
  cursor: pointer;
}

.card__icons {
  top: -12px;
  left: -204px;
  position: relative;
}