@import '../main/index';

.card {
  $self: &;

  display: flex;
  flex-direction: column;
  min-height: 328px;
  padding: 32px;
  font-family: $font-family-base;
  background: $bg-primary;
  border-radius: 16px;

  @media (max-width: $breakpoint-lg) {
    min-height: 300px;
    padding: 28px;
  }

  @media (max-width: $breakpoint-md) {
    min-height: auto;
    padding: 24px;
  }

  @media (max-width: $breakpoint-sm) {
    padding: 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: $line-height-1;
    text-align: left;
    color: $text-primary;

    @media (max-width: $breakpoint-md) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint-sm) {
      font-size: 20px;
    }
  }

  &__description {
    flex-grow: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: $line-height-base;
    text-align: left;
    color: $text-secondary;
    white-space: pre-line;

    @media (max-width: $breakpoint-md) {
      font-size: 12px;
    }
  }

  &__link {
    font-size: 20px;

    @media (max-width: $breakpoint-md) {
      font-size: 16px;
    }
  }

  &__icons {
    margin-bottom: 32px;
    display: flex;
  }
}
