@import '../main/index.scss';

.footer {
  display: flex;
  justify-content: center;
  padding: 40px 0 200px;
  background-color: $color-black;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    align-items: center;
  }

  &__content {
    align-items: flex-start;

    @media (max-width: $breakpoint-xl) {
      flex-direction: column;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 1.5rem;
    position: relative;
    top: 70%;

    @media (max-width: $breakpoint-xxl) {
      margin-left: 100px;
    }

    @media (max-width: $breakpoint-md) {
      margin-top: 2rem;
      margin-left: 0;
      gap: 1rem;
    }

    @media (max-width: $breakpoint-xs) {
      margin-top: 1rem;
      align-items: center;
    }
  }
}
