@import '../main/index';

.header__dropdown {
  $self: &;

  margin-left: 66px;
  position: relative;

  padding: 0 1rem;
  &-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $language-switcher-text;
    background: none;
    border: none;
    cursor: pointer;
    gap: 4px;
    height: 100%;

    &:hover {
      background-color: $language-switcher-hover-bg;
    }
  }

  &-arrow {
    width: $language-switcher-arrow-size;
    height: $language-switcher-arrow-size;
  }

  &-list {
    position: absolute;
    left: 0;
    background: white;
    border: 1px solid #eee;
    min-width: 160px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
     white-space: nowrap;

    @media (max-width: $breakpoint-xl) {
      display: flex;
      margin: -30px 100px;
    }
  }

  &-item {
    padding: 8px 16px;
    color: $language-switcher-text;
    cursor: pointer;

    &:hover {
      background-color: $language-switcher-item-hover;
    }
  }

  &-sublink {
    text-decoration: none;
    color: inherit;
  }
}
