@import '../main/index';

.header {
  $self: &;

  position: relative;
  z-index: $ui-index-2;
  width: 100%;
  padding: 1.2rem ;
  background-color: $bg-primary;
  box-shadow: $box-shadow;

  &__container {
    display: flex;
    width: 90%; 
    max-width: $breakpoint-xl; 
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-family: $font-family-base;
  }

  &__logo-text {
    font-weight: 600;
    margin-right: clamp(16px, 5vw, 64px); 
    font-size: clamp(18px, 2.5vw, 24px); 
    color: $link-login-color;

    &-kanban {
      color: $text-primary;
    }
  }

  &__mobile-menu-button {
    display: none;
    padding: 0.8rem;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }

  &__mobile-menu-icon {
    position: relative;
    width: 24px;
    height: 4px;
    display: block;
    background-color: $text-primary;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $text-primary;
      content: '';
    }

    &::before {
      top: -8px;
    }

    &::after {
      bottom: -8px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: clamp(0.8rem, 2vw, 1.6rem); 
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: clamp(1rem, 3vw, 2rem);

    @media (max-width: $breakpoint-md) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: $ui-index-3;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      background-color: $bg-primary;
      display: none;

      &--active {
        display: flex;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    #{$self}__nav {
      display: none;
    }
  }
}
