@import './main/index.scss';

.footer {
  background-color: #04071A;
  min-height: 844px;
  padding: 4rem 2rem;
  text-align: left;

  @media (max-width: $breakpoint-md) {
    width: 100%;
    height: auto;
    position: relative;
    top: auto;
  }
}

.footer__container {
  max-width: 1340px; 
  margin: 0 auto;
}

.footer__content {
  display: flex;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}

.footer__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer__logo {
  font-size: 34px;
  font-weight: bold;
  color: #4A90E2;
}

.footer__logo-part {
  color: $bg-primary;
}

.footer__links {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  gap: 20px;
}

.footer__form {
  max-width: 614px;
  padding: 0 10rem;

  @media (max-width: $breakpoint-md) {
    max-width: 100%;
  }
}

.footer__form-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 28px;
  color: $bg-primary;
}

.footer__form-description {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $bg-primary;

  @media (max-width: $breakpoint-md) {
    font-size: 1.2rem;
  }
}

.form__group {
  margin-bottom: 1.7rem;
  color: $color-form-placeholder;
}

.form__input--underline {
  width: 472px;
  padding: 1rem 0;
  border: none;
  border-bottom: 1px solid #8B8B8F;
  font-size: 1rem;
  background: transparent;
  color: $color-form-placeholder;

  &:hover {
    border-bottom-color: #4A90E2;
  }

  &:focus,
  &:not(:placeholder-shown) {
    color: $text-primary;
    border-bottom-color: #4A90E2;
  }
}

.form__textarea {
  width: 472px;
  border: 1px solid #8B8B8F;
  border-radius: 4px;
  font-size: 1rem;
  min-height: 100px;
  background: transparent;
  color: $color-form-placeholder;

  &:focus,
  &:not(:placeholder-shown) {
    color: $text-primary;
    border-bottom-color: #4A90E2;
  }
}

.form__select {
  cursor: pointer;
  appearance: none;

  &:focus, 
  &:not(:placeholder-shown) {
  color: $color-form-placeholder;
  }
  &-icon{
    position: absolute;
    transform: translate(-82%, 300%);
    pointer-events: none;
    width: 10px;
    height: 6px;
  }
}
  
.form__button {
  width: 100%;
  max-width: 480px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-md) {
    max-width: 100%;
    width: 100%;
  }
}


