@import './main/index';

.language-switcher {
  $self: &; 

  margin-left: 16px;

  &__button {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: $font-family-base;
  font-size: $font-size-sm;
  font-weight: 400;
  color: $language-switcher-text;
  background: none;
  border: none;
  cursor: pointer;

    &:hover {
      background-color: $language-switcher-hover-bg;  
    }
  }

  &__list {
    position: absolute;
    min-width: 100px;
    margin: auto;
    padding: 4px 0;
    background: $bg-primary;
    border: 1px solid $border-divider;
    box-shadow: $box-shadow;
  }

  &__item {
    padding: 8px 16px;
    letter-spacing: 0;
    color: $language-switcher-text;
    cursor: pointer;

    &:hover {
      background-color: $language-switcher-item-hover; 
    }
  }

  &__arrow {
    img {
      width: $language-switcher-arrow-size;
      height: $language-switcher-arrow-size;
    }
  }
}
