@import './main/index';

.language-switcher {
  &__button {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: $font-size-sm;
    font-weight: 400;
    font-family: $font-family-base;
    color: $color-gray-700;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $color-black-alpha-5;
    }
  }

  &__list {
    position: absolute;
    min-width: 100px;
    margin: auto;
    padding-top: 4px;
    background: $color-white-100;
    border: 1px solid $color-gray-300;
    box-shadow: $box-shadow;

    @media (max-width: $breakpoint-lg) {
      display: flex;
      margin: -32px -208px;
    }
  }

  &__item {
    padding: 8px 16px;
    letter-spacing: 0;
    color: $color-gray-700;
    cursor: pointer;
    list-style-type: none;

    &:hover {
      background-color: $color-gray-150;
    }
  }

  &__arrow {
    img {
      width: $language-switcher-arrow-size;
      height: $language-switcher-arrow-size;
    }
  }
}
