@import './main/index';

.logo {
  $self: &;

  display: flex;
  align-items: center;
  margin-right: 36px;
  gap: 0.5rem;
  white-space: nowrap;

  @media (max-width: $breakpoint-xxl) {
    margin-right: 0px;
  }

  &__text {
    font-size: 34px;
    font-weight: bold;
  }

  &--blue {
    #{$self}__text {
      color: $color-blue-400;

      &-part {
        color: $color-white;
      }
    }
  }

  &--black {
    #{$self}__text {
      color: $color-blue-400;

      &-part {
        color: $color-gray-600;
      }
    }
  }
}
