 .title {
    position: relative;
    z-index: $ui-index-1;
    max-width: 772px;
    margin: 0 auto 20px;
    color: $text-primary;
    font-family: $font-family-heading;
    font-weight: 700;
    font-size: 60px;
    line-height: $line-height-1;

    @media (max-width: $breakpoint-md) {
      font-size: 40px;
      padding: 0 16px;
    }
  }

.subtitle {
    margin: 0;
    color: $text-primary;
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 20px;
    line-height: $line-height-base;
  }
