$font-family-base: 'Inter', -apple-system, sans-serif;
$font-family-heading: Axiforma;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 22px;
$font-size-3xl: 24px;

$line-height-base: 1.5;
$line-height-1: 1;

$language-switcher-arrow-size: 16px;
