@import '../main/index';

.features-section {
  position: relative;
  background: $gradient-main-bg;
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: $ui-index-1;
      width: 280px;
      height: 280px;
      border-radius: 50%;
      background: #2BEFB5;
      opacity: 0.26;
      filter: blur(100px);
      backdrop-filter: blur(200px);
    }
    
    &::before {
      top: 60%;
      left: 44%;
      transform: translate(-20%, 30%);
    }
    
    &::after {
      top: 20%;
      right: 30%;
      transform: translate(-20%, 30%);
    }
  }

  &__title {
    margin: 80px 0 24px;
    font-size: 60px;
    font-family: Axiforma;
    font-style: bold;
    font-weight: 700;
    line-height: 1.2;

    @media (max-width: $breakpoint-md) {
      padding: 0 16px;
      font-size: 32px;
      margin: 60px 0 20px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 1.5;
    color: $color-gray-1000;
    margin-bottom: 48px;
    max-width: 500px;

    @media (max-width: $breakpoint-md) {
      font-size: 16px;
      margin-bottom: 32px;
      padding: 0 16px;
    }
  }

  &__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    z-index: $ui-index-2;
    position: relative;
    max-width: 1200px;
    width: 100%;

    @media (max-width: $breakpoint-lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
      gap: 16px;
      padding: 0 16px;
    }
  }
}