@import '../main/index';

.features-section {
  position: relative;
  background: $gradient-main-bg;
  text-align: center;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before,
    &::after {
      position: absolute;
      z-index: $ui-index-1;
      width: 280px;
      height: 280px;
      background: $color-green-400;
      border-radius: 52%;
      opacity: 0.26;
      filter: blur(100px);
      backdrop-filter: blur(200px);
      content: '';
    }
    
    &::before {
      top: 60%;
      left: 44%;
      transform: translate(-20%, 32%);
    }
    
    &::after {
      top: 20%;
      right: 32%;
      transform: translate(-20%, 32%);
    }
  }

  &__title {
    margin: 80px 0 24px;
    font-size: 60px;
    font-style: bold;
    font-weight: 700;
    line-height: 1.2;
    font-family: $font-family-heading;

    @media (max-width: $breakpoint-md) {
      padding: 0 16px;
      margin: 60px 0 20px;
      font-size: 32px;
    }
  }

  &__description {
    max-width: 500px;
    margin-bottom: 48px;
    font-size: $font-size-lg;
    line-height: 1.5;
    color: $color-gray-1000;

    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
      padding: 0 16px;
      font-size: $font-size-base;
    }
  }

  &__cards-wrapper {
    position: relative;
    z-index: $ui-index-2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    width: 100%;
    gap: 24px;

    @media (max-width: $breakpoint-lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
      padding: 0 16px;
      gap: 16px;
    }
  }
}
