@import '../main/index';

.ui-button {
  width: 160px;
  height: 48px;

  font-family: $font-family-base;
  font-size: $font-size-sm;
  font-weight: 600;

  background-color: $ui-button-blue;
  border: none;
  border-radius: 4px;
  color: $bg-primary;

  cursor: pointer;

  &:hover {
    background-color: $ui-button-blue-hover;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $ui-button-blue-square;
    border-radius: 4px;

    @media (max-width: $breakpoint-md) {
      width: 42px;
      height: 32px;
      right: 4px;
    }
  }
}
