@import '../main/index';

.ui-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gradient-ui-bg;

  &__title {
    margin-top: -34px;
    color: $bg-primary;
  }

  &__description {
    margin-top: -34px;
    color: $bg-primary;
  }

  &__decoration {
    position: absolute;
    z-index: $ui-index-1;




  }
}
