@import '../main/index';

.ui-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gradient-ui-bg;
  width: 1342px;
  height: 288px;
  border-radius: 20px;
  z-index: $ui-index-2;

  @media (max-width: $breakpoint-xxl) {
    width: 1292px;
  }

  &__title {
    margin-top: -34px;
    color: $bg-primary;
  }

  &__description {
    margin-top: -34px;
    color: $bg-primary;
  }

  &__decoration {
    position: absolute;
    pointer-events: none; 
  }
}
