@import '../main/index';



.card-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0 12px 0 0;
  color: #333;
  position: relative;
  top: 80px;
  left: -120px;
}

.card-subtitle {
  font-size: 16px;
  color: #666;
  margin: 0;
  line-height: 1.5;
  position: relative;
  top: 100px;
  left: -148px;
  white-space: pre-line;
  word-break: normal;
}

.card-link {
  left: 20px;
  background: none;
  border: none;
  color: #0066cc;
  font-size: 20px;
  cursor: pointer;
  margin-top: auto;
  align-self: flex-start; 
  padding: 0;
  top: 20px;
  display: flex;
  position: relative;
}

.card-button:hover {
  text-decoration: underline;
}

.arrow {
  margin-left: 8px;
}
