@import '../main/index';

.ui-link {
  $self: &;

  display: inline-flex;
  gap: 0.5rem;
  text-decoration: none;
  cursor: pointer;

  @media (max-width: $breakpoint-xl) {
    padding-top: 8px;
  }

  &:hover {
    color: $link-hover-color;
  }

  &--black {
    color: $language-switcher-text;
  }

  &--blue {
    color: $link-login-color;
  }
}
