@import '../main/index';

.ui-link {
  display: inline-flex;
  gap: 0.5rem;
  text-decoration: none;
  cursor: pointer;

  @media (max-width: $breakpoint-lg) {
    padding-top: 8px;
  }

  &:hover {
    color: $color-blue-400;
  }

  &--black {
    color: $language-switcher-text;
  }

  &--blue {
    color: $color-blue-400;
  }

  &--white{
    color: $color-white;
  }
}
